{% extends "./base.html.twig" %}

{% block title %}My Card Game{% endblock %}

{% block body %}
<h1>Card Game JSON API</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ asset('img/jsonimg.png') }}" alt="">
    </div>
        <div class="col-md-6">
            <ul>
                <h4>MISC API</h4>
                <li><a href="{{ path('api_quote') }}">API Quote</a></li><p>Shows a random quote aswell as current date and time</p>
                <br><h4>Card/Game API</h4>
                <li><a href="{{ path('api_deck') }}">Card Deck</a></li><p> shows an sorted deck</p>
                <form method="POST" action="{{ path('api_deck_shuffle') }}">
                    <input type="hidden" name="_method" value="POST">
                    <button type="submit">Shuffle Deck</button>
                </form>
                <p>Shuffle deck post request</p>
                <form method="POST" action="{{ path('api_deck_draw_one') }}">
                    <input type="hidden" name="_method" value="POST">
                    <button type="submit">Deck Draw One</button>
                </form>
                <br>
                <form method="POST" action="{{ path('api_home') }}">
                    <label for="number">New number of Cards :</label>
                    <input type="number" id="number" name="number" value="{{ number }}" />
                    <button type="submit">Update number</button>
                </form>
                <form method="POST" action="{{ path('api_deck_draw_multiple', {'number': number}) }}">
                    <input type="hidden" name="_method" value="POST">
                    <button type="submit">Draw {{number}} Cards</button>
                </form>
                <br>
                <li><a href="{{ path('api_game') }}">API Game</a></li><p>Check gamestate</p>

                <li><a href="{{ path('api_card_clear_session') }}">Clear cardgame session</a></li><p>Clear session</p>
                <br>
                <h4>Library API</h4>
                <li><a href="{{path('library_show_all')}}">Show Books</a></li><br>
                <form action="{{ path('library_show_one_P') }}" method="POST">
                    <label for="isbn">ISBN:</label>
                    <input type="text" id="isbn" name="isbn" value="671442422" required>
                    <button type="submit">Go</button>
                </form>
                  <br>
                  
            </ul>
        </div>
    </div>
</div>

{% endblock %}