{% extends "AdventureGameTemplates/base2.html.twig" %}

{% block title %}Project Home{% endblock %}

{% block body %}
<div class="container">
    <a class="btn btn-danger" href="{{ path("proj_adventure") }}">Go to Game</a>

    <a class="btn dark-button" href="{{ path("proj_api_map") }}">Api Map/All rooms</a>
    <a class="btn dark-button" href="{{ path("proj_api_items") }}">Api items in rooms</a>
    <a class="btn dark-button" href="{{ path("proj_api_inventory") }}">Api inventory from session</a>
    <a class="btn dark-button" href="{{ path("proj_adventure_clear_session") }}">Reset</a>
  </div>
  <div>
    <h3>Add Item</h3>
    <form method="POST" action="{{ path('add_item') }}">
        <div class="form-group">
        <label for="id">ID:</label>
        <input type="text" value="rusty_key" name="id" id="id">
        </div>
        <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" value="rusty key" name="name" id="name">
        </div>
        <div class="form-group">
        <label for="description">Description:</label>
        <textarea style="color:black;" name="description" placeholder="Ol rusty key" value="Old rusty key" id="description"></textarea>
        </div>
        <button class="btn dark-button" type="submit">Add Item</button>
    </form>
    <h3>Room by Id</h3>
    <form method="POST" action="{{ path('room_by_id') }}">
        <div class="form-group">
        <label for="id2">ID:</label>
        <input type="text" value="center" name="id2" id="id2">
        </div>
    
        <button class="btn dark-button" type="submit">Find Room</button>
    </form>
  </div>
{% endblock %}