{% extends "./base.html.twig" %}

{% block title %}Game Start{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="text-center">
            <a href="{{path('game_soft_reset')}}" class="btn btn-info" style="width: 49%;">Soft Reset</a>
            </div>
        <div class="text-center">
        <a href="{{path('game_init')}}" class="btn btn-info" style="width: 49%;">Hard Reset</a>
        </div>
        <br>
        {%if data.winner|length > 1%}
            <div class="alert alert-info" role="alert">
                <h1 style="text-align:center;">{{ data.winner }} won</h1>
            </div>
        {%endif%}
        {%if data.winner|length < 1%}
            <div class="alert alert-info" role="alert">
                <h1 style="text-align:center;">Money pot: {{ data.moneypot }}</h1>
            </div>
        {% endif %}
        <div class="text-center">
        <a href="{{path('game_hit')}}" class="btn btn-info" style="width: 49%;">Hit</a>
        <a href="{{path('game_stand')}}" class="btn btn-info" style="width: 49%;">Stand</a>
        </div>
        <div class="col-md-6 text-center">
            <h1>{{data.playername}}</h1>
            <h1>Money: {{data.playermoney}}</h1>
            <p>Player HandValue:<strong> {{data.playervalue}}</strong></p>
            <ul>
                {% for i, card in data.playercard%}
                    <li>
                        {{ card }}
                    </li>
                {% endfor %}
            </ul>
            <p style="font-size:100px;">
                {% for i, card in data.playercardimg%}

                        {{ card }}

                {% endfor %}
            </p>
            {%if data.playercard|length == 1%}
            {% if data.playerhasbet == 0 %}
            <form onsubmit="return validateForm() method="post" action="{{ path('game_bet')}}">
                <label for="number"></label>
                <input type="number" value="10" id="number" name="number" min="10" max="{{data.playermoney}}" step="10">
                <button type="submit">Bet</button>
              </form>
              {% endif %}
            {%endif%}
        </div>
        <div class="col-md-6 text-center">
            <h1>BankerBernard</h1>
            <h1>Money: {{data.bankermoney}}</h1>
            <p>Banker HandValue:<strong> {{data.bankervalue}}</strong></p>
            <ul>
                {% for i, card in data.bankercard%}
                    <li>
                        {{ card }}
                    </li>
                {% endfor %}
            </ul>
            <p style="font-size:100px;">
                {% for i, cardimg in data.bankercardimg%}
                        {{ cardimg }}
                {% endfor %}
            </p>
    </div>
</div>

<script>
    function validateForm() {
      var input = document.getElementById("number-input");
      var bankMoney = {{data.bankermoney}}
      if (input.value % 10 !== 0) {
        alert("Please enter a multiple of 10.");
        return false;
      } else if (input.value > bankMoney) {
        alert("You can't bet more money than the bank has.")
        return false;
      }
      return true;
    }
</script>

{% endblock %}
