{% extends "./base.html.twig" %}

{% block title %}Game Start{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {%if data.winner is defined%}
        <div class="alert alert-info" role="alert">
        <h1 style="text-align:center;">{{ data.winner }} won</h1>
        </div>
        {%endif%}
        <div style="text-align:center;">
        <a href="{{path('game_hit')}}" class="btn btn-info" style="width: 49%;">Hit</a>
        <a href="{{path('game_stand')}}" class="btn btn-info" style="width: 49%;">Stand</a>
        </div>
        <div class="col-md-6">
            <h1>{{data.playername}}</h1>
            <p>Player Score: {{data.playervalue}}</p>
            <ul>
                {% for i, card in data.playercard%}
                    <li>
                        {{ card }}
                    </li>
                {% endfor %}
            </ul>
            <p style="font-size:100px;">
                {% for i, card in data.img2%}

                        {{ card }}

                {% endfor %}
            </p>
        </div>
        <div class="col-md-6">
            <h1>BankerBernard</h1>
            <p>Banker Score: {{data.bankervalue}}</p>
            <ul>
                {% for i, card in data.bankercard%}
                    <li>
                        {{ card }}
                    </li>
                {% endfor %}
            </ul>
            <ul>
                {% for i, cardimg in data.bankercardimg%}
                    <li>
                        {{ cardimg }}
                    </li>
                {% endfor %}
            </ul>
            
    </div>
</div>

{% endblock %}
