{% extends 'base.html.twig' %}

{% block title %}Book Details{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div style="margin-bottom: 10px;"class="my-4"><a href="{{ path('app_library_read_many') }}" class="btn btn-info">return</a></div>
        <div class="col-md-4">
            <img src="{{ asset('img/bookcovers/' ~ book.bild) }}" alt="Book Cover">
        </div>
            <div class="col-md-4">
                    <div class="book-item">
                        <h3>{{ book.titel }}</h3>
                        <p>{{ book.författare }}</p>
                        <p>ISBN: {{ book.ISBN }}</p>
                        <a href="{{ path('app_library_update', {'libraryId': book.id}) }}" class="btn btn-info">Updatera</a>
                        <a href="{{ path('library_delete_by_id', {'libraryId': book.id}) }}" onclick="return confirm('Are you sure you want to delete this book?')" class="btn btn-danger">Radera</a>
                        {%if book.beskrivning %}
                            <h3>Beskrivning</h3>
                            <p>{{book.beskrivning}}</p>
                        {%endif%}
                        
                    </div>
                </a>
            </div>

    </div>
</div>
{% endblock %}